{% extends 'base.html.twig' %}

{% block title %}Upload-download
{% endblock %}

{% block body %}
	<div class="container">
		<nav>
			<div class="nav nav-tabs" id="nav-tab" role="tablist">
				<button class="nav-link active" id="nav-updown-tab" data-bs-toggle="tab" data-bs-target="#nav-updown" type="button" role="tab" aria-controls="nav-updown" aria-selected="true">Upload/Download</button>
				<button class="nav-link" id="nav-createPdf-tab" data-bs-toggle="tab" data-bs-target="#nav-createPdf" type="button" role="tab" aria-controls="nav-createPdf" aria-selected="false">Création de PDF</button>
				<button class="nav-link" id="nav-createPdf-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button>

			</div>
		</nav>
		<div class="tab-content" id="nav-tabContent">
			<div class="tab-pane fade show active" id="nav-updown" role="tabpanel" aria-labelledby="nav-updown-tab" tabindex="0">
				<h1 class="mt-5">Uploader et Downloader de fichier :
				</h1>
				<hr class="mt-5 mb-4">
				<div class="row">
					<div class="col-12">
						{{form_start(form)}}

						<div class="my-custom-class-for-errors">
							{{ form_errors(form) }}
						</div>

						<div class="row bg-dark  rounded-top">
							<div class="col-12 col-md-6">
								<div
									class="form-group mb-5 mt-5 text-white">

									<!-- Label -->
									{{form_label(form.imageFile)}}
									<!-- Input -->
									{{form_widget(form.imageFile)}}


								</div>
							</div>
						</div>
						<!-- / .row -->
						<div class="row justify-content-center bg-dark rounded-bottom">
							<div
								class="col-auto mb-4 text-white">

								<!-- Submit -->
								<div class="form-group bg-light text-dark border rounded lift">
									{{form_widget(form.envoyer)}}
								</div>

							</div>
						</div>
						<!-- / .row -->

						{{form_end(form)}}
					</div>
					<hr class=" mt-5 mb-5">
					<div class="col-12">
						<h1>Form pour download</h1>
						<h2>Fichier existant</h2>
						<div class="container">
							<div class="row">
								{% for fichier in fichiers %}
									<div class="col-3">
										<div class="card mt-2 mb-4" style="width: 18rem;">
											<img src="/uploads/cv/{{fichier.file}}" class="card-img-top" alt="...">
											<a href="{{path('download',{'id': fichier.id}) }}" download="{{ fichier.file }}" class="btn">télécharger</a>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="nav-createPdf" role="tabpanel" aria-labelledby="nav-createPdf-tab" tabindex="0">
				<h1 class="mt-5">Création de fichier PDF :
				</h1>
				<hr class="mt-5 mb-4">
			</div>
			<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">...</div>
			<div class="tab-pane fade" id="nav-disabled" role="tabpanel" aria-labelledby="nav-disabled-tab" tabindex="0">...</div>
		</div>


	</div>
{% endblock %}
